.box {
    display: flex;
    justify-content: center;
    background-color: white;
    width: min-content;
    height: min-content;
    margin: 30px;
    border: 10px solid gray;
}

.conttainer {
    display: flex;
    justify-content: center;
}

p {
    padding: 20px;
    border: 1px;
}

.box:hover {
    background-color: gray;
    color: white;
}

article p:first-of-type {
    color: red;
    font-size: xx-large;
}
*{
    background-color: palevioletred;
}

.botão::before{
    content: '\2190';
    margin-right: 10px;
}

.botão::after{
    content: '\2192';
    margin-left: 10px;
}